.pregame {
display: none;  
}

.game {
display: none;
}

h1, .subhead {
  text-align: center;
}

#heading {
  padding-top: 9px;
  font-size: 1.8em;
}

.container {
  outline: solid 1px teal;
  margin-bottom: 10px;
}

.row {
  padding: 5px;
}

.col-sm-3half {
    width: 205px;
    height: 280px;
    background: #abb1b8;
    outline: solid 1px teal;
    margin: 15px 10px 15px 10px;
    overflow: auto;
}

.col-sm-3half:hover {
  background: #f1f1f1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.h4 {
  font-size: 1em;
}

.c-card {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  }

.card-container {
  padding: 10px;
}

.card-select:hover {
  background-color: #8e9399;
  cursor: pointer;
}

.card-select:focus {
  background-color: #1779ba;
}

.card-select.is-selected {
  border: 1px solid #1779ba;
  box-shadow: 0 0 10px #e6e6e6;
  transition: all 0.5s ease;
  background-color: #1779ba;
}

#message {
  display: none;
  text-align: center;
  padding: 5px;
  color: red;
}

#message.show {
  display: inline;
}

.start {
  width: 100%;
  margin-bottom: 20px;
}

#startGame {
  background-color: #a6a6a6;
  border-color: #a6a6a6;
}

#startGame.selected {
  background-color: #007bff;
  border-color: #007bff;
}

#row1, #row2, #row3, #row4, #row5 {
  margin-left: unset;
  margin-right: unset;
}

.col-sm-2b {
  background: #000;
  height: 90px;
  width: 90px;
  margin: 6px 6px;
  display: inline-block;
}

.tilenumber {
  color: white;
  text-align: right;
  vertical-align: bottom;
  padding: 5px;
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 5px;
}

.tiletext {
  color: white;
  text-align: center;
  padding: 5px;
}

.controls {
  margin-top: 10px;
}

.current {
  font-weight: bold;
}

#dice-roll {
  margin-bottom: 5px;
}

.Triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid darkblue;
}

.Circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: darkblue;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}