#mainpage {
  background: #14191d;
  color: #FFF;
}

div {
  font-family: Roboto;
}

.pregame {
display: none;  
}

.game {
display: none;
}

h1 {
  font-family: Ubuntu;
  display: inline-block;
}

.subhead {
  text-align: center;
  font-family: Ubuntu;
}

.choose {
  text-align: center;
}

.logo {
  display: inline-block;
  height: 100px;
}

.head {
  text-align: center;
}

#heading {
  padding-top: 9px;
  font-size: 1.8em;
}

.container {
  outline: solid 1px teal;
  margin-bottom: 10px;
  outline: unset;
}

.row {
  padding: 5px;
}

.col-sm-3half {
    width: 205px;
    height: 280px;
    background: url(graphics/background.png);
    outline: solid 1px teal;
    margin: 15px 10px 15px 10px;
    overflow: auto;
}

.col-sm-3half:hover {
  background: #f1f1f1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.h4 {
  font-size: 1em;
  font-family: Ubuntu;
}

.c-card {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  }

.card-container {
  padding: 10px;
}

.card-select:hover {
  background-color: #8e9399;
  cursor: pointer;
}

.card-select.is-selected {
  box-shadow: 0 0 10px #e6e6e6;
  transition: all 0.5s ease;
  outline-color: #FFF;
  outline-width: 4px;
}

#message {
  display: none;
  text-align: center;
  padding: 5px;
  color: red;
}

#message.show {
  display: block;
}

.start {
  width: 100%;
  margin-bottom: 20px;
}

#startGame {
  background-color: #b19b8e;
  border-color: #b19b8e;
}

#startGame.selected {
  background-color: #527185;
  border-color: #527185;
}

#row1, #row2, #row3, #row4, #row5 {
  margin-left: unset;
  margin-right: unset;
}

.col-sm-2b {
  background-color: #b19b8e;
  height: 90px;
  width: 90px;
  margin: 6px 6px;
  display: inline-block;
}

.tilenumber {
  color: white;
  text-align: right;
  vertical-align: bottom;
  padding: 5px;
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 5px;
}

.tiletext {
  color: white;
  text-align: center;
  padding: 5px;
}

#tile1 {
  background: url(graphics/start.png);
  background-size: cover;
  background-position: center;
  background-color:rgba(255, 255, 255, 0.8);
}

#tile5, #tile27 {
  background: url(graphics/fire.png);
  background-size: cover;
  background-position: center;
  background-color:rgba(177, 155, 142, 0.9);
}

#tile10, #tile18, #tile23 {
  background: url(graphics/ice.png);
  background-size: cover;
  background-position: center;
  background-color:rgba(177, 155, 142, 0.9);
}

#tile30 {
  background: url(graphics/finish.png);
  background-size: cover;
  background-position: center;
  background-color:rgba(255, 255, 255, 0.8);
}

.controls {
  margin-top: 10px;
  outline: unset;
}

#dice-roll {
  border: unset;
  background: unset;
  outline: none;
}

.current {
  font-weight: bold;
}

#dice-roll {
  margin-bottom: 5px;
}

.playerToken1 {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(graphics/playerToken1.png);
  background-position: center;
  background-size: cover;
  margin-top: 34px;
}

.playerToken2 {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(graphics/playerToken2.png);
  background-position: center;
  background-size: cover;
  margin-top: 34px;
}

.currentPlayer {
  font-weight: bold;
}

.container-message {
  text-align: center;
  padding: 10px;
  width: 200px;
  height: auto;
  background: #527185;
}

.win {
  padding: 20px;
  background-color: #527185;
  color: white;
  margin-bottom: 15px;
  position: fixed;
  top: 30%;
  left: 37.5%;
  width: 400px;
  height: 200px;
}

#congrats {
  text-align: center;
}

.waiting {
  display: none;
}

.alerting {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.newgame {
  width: 300px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 80px;
}

.btn.newgame {
  background: #313640;
}

a.btn {
  color: #FFF;
}